H1 {
  color: red;
  text-align: center;
} 

H2 {
  color: black;
  text-align: center;
} 

H3 {
  color: blue;
  text-align: center;
} 

H4 {
  color: green;
  text-align: center;
} 

H5 {
  color: orange;
  text-align: center;
} 

H6 {
  color: lightblue;
  text-align: center;
} 




